body{
    background-image: url("grab3.jpg");
}
#titulo{
    font-family: 'Playfair Display', serif;
}
#titulo h1{
    font-size: 60px;
    opacity: 100%;
}
#h12{
    font-family: 'Playfair Display', serif;
    color: black;
}